.App {
  text-align: center;
  background-color: aliceblue;
  height: 100vh;
  min-width: 100vh;
  padding-top: 5vh;
}

.AppContainer {
  width: 90%;
  height: 90%;
  background-color: bisque;
  margin: auto;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 20;

}

.TopBar {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.SideBar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 18;
  background-color: aqua;
}

.MainContentArea {
  grid-row-start: 2;
  grid-row-end: 18;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: red;
}

.LogArea {
  grid-row-start: 2;
  grid-row-end: 18;
  grid-column-start: 5;
  grid-column-end: 5;
  background-color: green;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
